{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="inline-block">
        <div class="flex items-baseline flex-row w-auto">
        {% if first is defined and current != first %}
            <span class="text-farm-blue hover:text-pumpkin-dark px-3 py-2 lg:text-2xl text-lg font-bold">
                <a rel="revenir au début" href="{{ path(route, knp_pagination_query(query, first)) }}">&lt;&lt;</a>
            </span>
        {% endif %}

        {% if previous is defined %}
            <span class="text-farm-blue hover:text-pumpkin-dark px-3 py-2 lg:text-lg text-md font-bold">
                <a rel="precedent" href="{{ path(route, knp_pagination_query(query, previous)) }}">Précédent</a>
            </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="text-farm-blue hover:text-pumpkin-dark px-3 py-2 lg:text-2xl text-lg font-bold">
                    <a href="{{ path(route, knp_pagination_query(query, page)) }}">{{ page }}</a>
                </span>
            {% else %}
                <span class="text-pumpkin-dark px-3 py-2 lg:text-2xl text-lg font-bold">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <span class="text-farm-blue hover:text-pumpkin-dark px-3 py-2 lg:text-lg text-md font-bold">
                <a rel="suivant" href="{{ path(route, knp_pagination_query(query, next)) }}">Suivant</a>
            </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="text-farm-blue hover:text-pumpkin-dark px-3 py-2 lg:text-2xl text-lg font-bold">
                <a rel"aller à la fin" href="{{ path(route, knp_pagination_query(query, last)) }}">&gt;&gt;</a>
            </span>
        {% endif %}
        </div>
    </div>
{% endif %}
