{% extends 'base.html.twig' %}

{% block title %}S'identifier{% endblock %}

{% block body %}
<div class="bg-leaf">
    <div>
        {% for message in app.flashes('success') %}
                <div id="flash-message" class="flash-message">
                    <span>{{ message }}</span>
        {% endfor %} 
    </div>
    <section class="flex justify-center">
        <div class="lg:px-32 pb-6 lg:mt-2">
            <h2 id="login-page-title" class="form-title-page">Page de connexion</h2>
            <p class="form-subtitle-page">Les champs marqués d'un * sont obligatoires</p>
        </div>
    </section>

    <section id="login" aria-labelledby="to-log-in" class="flex align-top justify-center my-6">
        <div class="flex flex-col lg:flex-row">
            <form method="post" novalidate>
                {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                <div class="form-label">
                    Bienvenue {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" role="button" aria-label="Bouton pour se déconnecter" class="form-btn">Déconnexion</a>
                </div>
                {% else %}
                <div class="flex flex-col">
                    <h3 class="text-pearl ms-2 mb-2 font-thin">Veuillez vous connecter :</h3>

                    <!-- Email Field -->
                    <div class="mx-2 mb-2">
                        <label for="inputEmail" class="form-label">Adresse mail</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-input"
                            autocomplete="email" required autofocus>
                    </div>

                    <!-- Password Field -->
                    <div class="mx-2 mb-2">
                        <label for="inputPassword" class="form-label">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-input"
                            autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>

                    <!-- Remember me Field -->
                    <div class="mx-2 mb-2">
                        <label class="form-label">
                        <input type="checkbox" name="_remember_me" role="button" aria-label="Bouton pour mémoriser sa connexion"> Se souvenir de moi</label>
                    </div>
                    <button class="form-btn" type="submit" aria-label="Bouton pour se connecter">Connexion</button>
                </div>
            </form>
            
            {% endif %}
            <div class="flex flex-col lg:ms-32 mt-6 ms-2">
                <h3 class="form-label">Je n'ai pas de compte ?</h3>
                <a class="text-pearl font-bold underline hover:no-underline hover:text-farm-blue " href="{{ path('app_register') }}" aria-label="Bouton pour se créer un compte" role="link">Créer un compte</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}