{% extends 'base.html.twig' %}



{% block title %}{{product.name}}{% endblock %}

{% block body %}
<!--TODO : Faire la page détail produit : OK -->
<!-- TITLE DESCRIPTION PAGE PRODUCT FOCUS -->
<section class="bg-pumpkin-dark py-4">
    <div class="px-32 py-12 container mx-32 bg-pearl">
        <h2 class="lg:text-5xl text-2xl text-center font-title text-leaf text-bold my-2">{{ product.name }}</h2>
        <div class="flex flex-row">
            <img src="{{ product.picture }}" class="w-80 h-80 mx-6 float-left"> </img>
            <div class="flex flex-col justify-between">
                <p class="mt-10 lg:text-xl text-md leading-2 text-farm-blue"> {{ product.description }}</p> 
                <div class="flex flex-row gap-1 justify-between">
                    <p class="mt-5 font-bold text-2xl  text-farm-blue"> {{ product.price |format_currency('EUR', locale='fr')}}/la pièce</p>
                    <button class="flex self-stretch justify-center mt-1 lg:text-xl text-m font-bold bg-pumpkin-btn text-pearl p-3 rounded-lg hover:ring-4 ring-pumpkin hover:bg-farm-blue"> <i class="fa-solid fa-cart-shopping self-center me-4"></i> Ajouter au panier</button> <!-- Add to cart button -->
                </div>
            </div>   
        </div>
    </div>
</section>

{% endblock %}