<!DOCTYPE html>
<html lang="FR">
    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Entrez dans le monde des cucubitacés avec notre Ferme aux citrouilles ! Découvrez nos produits, nos ateliers thématiques et venez visiter notre ferme !"> 

        <title>{% block title %}Bienvenue à la ferme aux citrouilles !{% endblock %}</title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon" alt="Logo Ferme aux citrouilles">

        <!-- FONT AWESOME, Icons -->
        <script src="https://kit.fontawesome.com/275e06ef04.js" crossorigin="anonymous"></script>

        <!-- CSS, Tailwindcss -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- JS -->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
    
        {% endblock %}
    </head>
    <body class="min-h-screen flex flex-col">
        <!-- HEADER, NAV -->
        <header role="banner">
            <nav class="bg-pearl">
                <div role="navigation" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex items-center justify-between h-16">
                        <div class="flex items-center">
                            <!-- LOGO FARM-->
                            <a href="{{ path('app_home')}}" class="flex flex-row items-center">
                                <img src="{{ asset('images/favicon.png') }}" alt="Logo Ferme aux citrouilles" class="h-14 w-auto lg:h-16">
                                <h1 class="lg:text-3xl text-xl font-title text-pumpkin">La Ferme aux citrouilles</h1>
                            </a>
                        </div>
                        <div class="hidden md:flex space-x-4">
                            <a href="#" class=" m-2 text-xl block font-text text-farm-blue font-bold hover:text-pumpkin  active:bg-pumpkin active:text-pearl p-2 rounded-lg"> Produits</a>        
                            <a href="#" class="m-2 text-xl block font-text text-farm-blue font-bold hover:text-pumpkin  active:bg-pumpkin active:text-pearl p-2 rounded-lg">Ateliers</a>
                            <a href="#" class="m-2 text-xl block font-text  text-farm-blue font-bold hover:text-pumpkin  active:bg-pumpkin active:text-pearl p-2 rounded-lg">La ferme</a>
                            <a href="#" class="m-2 text-xl block font-text text-farm-blue font-bold hover:text-pumpkin  active:bg-pumpkin active:text-pearl p-2 rounded-lg">Contact</a>
                        </div>
                        <!-- Mobile menu button -->
                        <div class="md:hidden flex items-center">
                            <button id="burger-menu" aria-label="Bouton du menu de navigation du site" class="rounded text-farm-blue border-farm-blue hover:text-pumpkin hover:border-pumpkin focus:outline-none">
                            <span class="sr-only">Ouvrir le menu</span> 
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Mobile menu -->
                <div id="menu" class="md:hidden hidden px-4 py-6">
                    <ul class="space-y-4">
                        <li>
                            <a href="#" class="py-2 text-lg block font-text text-farm-blue font-bold hover:text-pumpkin  active:bg-pumpkin active:text-pearl p-2 rounded-lg"> Produits</a>        
                        </li>
                        <li>
                            <a href="#" class="m-2 text-lg block font-text text-farm-blue font-bold hover:text-pumpkin  active:bg-pumpkin active:text-pearl p-2 rounded-lg">Ateliers</a>
                        </li>
                        <li>
                            <a href="#" class="m-2 text-lg block font-text  text-farm-blue font-bold hover:text-pumpkin  active:bg-pumpkin active:text-pearl p-2 rounded-lg">La ferme</a>
                        </li>
                        <li>
                            <a href="#" class="m-2 text-lg block font-text text-farm-blue font-bold hover:text-pumpkin  active:bg-pumpkin active:text-pearl p-2 rounded-lg">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- MAIN -->
        <main role="main" class="flex-grow">
        {% block body %}{% endblock %}
        </main>

        <!-- FOOTER -->
        <footer role="contentinfo" class="bg-pearl mt-auto">
        <div role="navigation" class="max-w-screen-xl w-full gap-8 p-2 mx-auto flex items-center justify-center flex-col">
            <div class= "flex lg:flex-row flex-col m-2 p-2">
            <!-- SOCIAL MEDIA -->
                <div class="flex flex-col items-center lg:mr-32 mb-4 w-full">
                    <h4 class="lg:text-lg text-base text-pumpkin font-bold font-title uppercase"> La ferme aux citrouilles </h4>
                    <ul class="flex flex-row"> 
                        <li class="m-2 lg:text-4xl text-2xl"><a href="#" target="_blank" aria-label="Icône cliquable pour aller sur notre page Facebook" class="font-text text-farm-blue hover:text-pumpkin"><i class="fa-brands fa-facebook"></i></a></li>
                        <li class="m-2 lg:text-4xl text-2xl"><a href="#" target="_blank" aria-label="Icône cliquable pour aller sur notre page Twitter" class="font-text text-farm-blue hover:text-pumpkin"> <i class="fa-brands fa-x-twitter"></i></a></li>
                        <li class="m-2 lg:text-4xl text-2xl"><a href="#" target="_blank" aria-label="Icône cliquable pour aller sur notre page Linkedin" class="font-text text-farm-blue hover:text-pumpkin"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li class="m-2 lg:text-4xl text-2xl"><a href="#" target="_blank" aria-label="Icône cliquable pour aller sur notre page Instagram" class="font-text text-farm-blue hover:text-pumpkin"><i class="fa-brands fa-instagram"></i></a></li>
                        <li class="m-2 lg:text-4xl text-2xl"><a href="#" target="_blank" aria-label="Icône cliquable pour aller sur notre page Youtube" class="font-text text-farm-blue hover:text-pumpkin"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </div>
            <!-- A PROPOS -->
                <div class="flex flex-col lg:items-start items-center w-full mb-4">
                    <h4 class="lg:text-lg text-base text-pumpkin font-bold font-title uppercase mb-2"> A propos </h4>
                    <ul class="lg:text-start text-center">
                        <li class="lg:text-lg text-md"><a href="#" class="font-text font-bold text-farm-blue hover:text-pumpkin"> Notre histoire </a></li>
                        <li class="lg:text-lg text-md"><a href="#" class="font-text font-bold text-farm-blue hover:text-pumpkin"> Nos engagements </a></li>
                        <li class="lg:text-lg text-md"><a href="#" class="font-text font-bold text-farm-blue hover:text-pumpkin"> Services </a></li>
                        <li class="lg:text-lg text-md"><a href="#" class="font-text font-bold text-farm-blue hover:text-pumpkin">Contact </a></li>
                        <li class="lg:text-lg text-md"><a href="#" class="font-text font-bold text-farm-blue hover:text-pumpkin"> FAQ </a></li>
                    </ul>
                </div>
            <!-- NEWSLETTER -->
                <div class="flex flex-col lg:items-start items-center lg:ml-32">
                    <h4 class="lg:text-lg text-md text-pumpkin font-bold font-title uppercase mb-2"> Newsletter </h4>
                    <p class="font-text text-farm-blue lg:text-base text-md mb-2"> 
                    Rejoignez notre newsletter et restez informé de toutes nos activités à la ferme, des récoltes de citrouilles aux événements spéciaux ! Ne manquez plus aucune nouveauté et partagez la magie de la saison avec nous
                    </p>
                    <form> 
                        <input type="email" placeholder="Votre adresse email" class="border border-farm-blue p-2 rounded-lg">
                        <button type="submit" class="bg-pumpkin text-pearl hover:bg-farm-blue hover:ring-2 ring-pearl p-2 rounded-lg"> S'inscrire </button>
                    </form>
                    <p class="font-text text-farm-blue lg:text-md text-sm mt-2"> 
                    Vous pouvez vous désabonner à tout moment en cliquant sur le lien prévu à cet effet dans nos emails. Nous respectons votre vie privée et nous assurons que vos informations resteront confidentielles.
                    </p>
                </div>
            </div>

            <!-- MENTIONS LEGALES -->
            <div class="flex flex-col items-center">
                <ul class="flex flex-row">
                    <li class="m-2 lg:text-md text-sm font-bold"><a href="#" class="font-text text-farm-blue hover:text-pumpkin"> Mentions Légales </a></li>
                    <li class="m-2 lg:text-md text-sm font-bold"><a href="#" class="font-text text-farm-blue hover:text-pumpkin"> Politique de Confidentialité </a></li>
                    <li class="m-2 lg:text-md text-sm font-bold"><a href="#" class="font-text text-farm-blue hover:text-pumpkin"> Politique des Cookies </a></li>
                    <li class="m-2 lg:text-md text-sm font-bold"><a href="#" class="font-text text-farm-blue hover:text-pumpkin"> Gestion des Cookies </a></li>
                </ul>
                <p class="font-bold font-text text-leaf">&copy; 2024 - Ferme aux citrouilles - 
                Site créé par Jessica Troilo 
                <a href="https://www.linkedin.com/in/jessica-troilo-dev/"  target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/jessicatroilo"  target="_blank" ><i class="fa-brands fa-github"></i></a>
                </p>
            </div>
        
        </footer>
    </body>
</html>
